.cv-footer {
  background: #111;
  color: #eee;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  border-radius: 30px;
}

.footer-container {
  max-width: 900px;
  margin: auto;
}

.footer-name {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.footer-links a {
  color: #4da3ff;
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(150, 150, 150);
}

.footer-links a:hover {
  text-decoration: underline;
  color: white;
}

.separator {
  margin: 0 8px;
  color: #777;
}
